* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

#top_menu {
    background: #455A64;
    color: white;
    position: relative;
    width: 100%;
    padding: 20;
    z-index: 30;
}

#top_menu_title {
    padding: 45 20;
    font-size: 50px;
    font-weight: 100;
}

#top_menu_title_text, #top_menu_title_img {
    display: inline;
    vertical-align: middle;
}

#top_menu_title_img {
    width: 80;
}

#top_menu_nav {
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#top_menu_nav li {
    list-style-type: none;
    display: inline;
    padding: 0 40;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    font-size: 15;
}

#top_menu_nav li:first-child {
  padding: 0 30;
}

#top_menu_nav li span, #top_menu_nav li i{
    vertical-align: middle;
    transition: 0.5s;
}

#top_menu_nav li span {
  margin-left: 5px;
}

#top_menu_nav .selected {
    color: white;
}

#second_nav_img {
  position: fixed;
  bottom: 10;
  transition: 0.5s;
  right: -60;
  z-index: 50;
  width: 45;
}

.content {
    padding: 30;
    position: absolute;
    width: 100%;
}

#discover {
    background: #EF5350;
    color: white;
    opacity: 0;
    padding: 0;
    transition: opacity 0.5s;
}

#discover > h2 {
    text-align: center;
    margin: 0 80;
    margin-bottom: 80;
}

#laptop {
    width: 60%;
    margin: 80;
    left:50%;
    margin-bottom: 40;
    position: relative;
    margin-left: -30%;
}

.feature {
  padding-top: 130px;
  padding: 80;
}

.feature img {
  width: 80%;
}

#chromium_img {
  width: 256px;
}

.feature_description {
  font-size: 25;
  margin-top: 10;
  font-weight: 300;
}

.feature .left, .feature .right {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}

.feature .right {
  text-align: right;
}

#download {
    color: white;
    text-align: center;
    opacity: 0;
    background: #42A5F5;
    transition: opacity 0.5s;
}

#about {
    color: white;
    text-align: center;
    opacity: 0;
    background: lightgrey;
    transition: opacity 0.5s;
}

#code {
  color: white;
  text-align: center;
  opacity: 0;
  background: #26A69A;
  transition: opacity 0.5s;
}

h1 {
    font-size: 65;
    font-weight: 100;
    margin-top: 30;
    margin-bottom: 30;
}

h2 {
    font-size: 45;
    font-weight: 100;
}

.hidden {
    display: none;
    opacity: 0;
}

.visible {
    display: block;
}

.center_align {
    text-align: center;
}

.white {
    background: white;
    color: darkslategray;
}

.raised_button {
    padding: 5 10;
    border-radius:5px;
    text-transform: uppercase;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    transition: 0.5s;
}

.raised_button:hover {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.elevation-2 {
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.elevation-2-top {
    box-shadow: 0 -15px 15px -5px  rgba(0, 0, 0, 0.39);
}

.elevation-1 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

#circle_anim {
    position: fixed;
    width: 10;
    height: 10;
    border-radius: 50%;
    z-index: 18;
    top: 0;
    background: yellow;
    transition: transform 1s;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media screen and (max-width:800px) {
  #top_menu {
    padding: 10;
  }

  #top_menu_title {
    padding: 5 0;
  }

  #top_menu_title_text {
    font-size: 35px;
  }

  #top_menu_nav li {
    padding: 10;
  }

  #discover {
    padding: 20 0;
  }

  h1 {
    font-size: 40;
  }

  h2 {
    font-size: 30;
  }

  #laptop {
    width: 90%;
    margin-left: 5%;
    left:0;
  }

  .feature .left, .feature .right {
    display: block;
    vertical-align: middle;
    width: 100%;
  }

  .feature .right {
    text-align: left;
    margin-top: 50;
  }

}
