@font-face {
    font-family: 'socicon';
    src: url('socicon.eot');
    src: url('socicon.eot?#iefix') format('embedded-opentype'),
         url('socicon.woff') format('woff'),
         url('socicon.woff2') format('woff2'),
         url('socicon.ttf') format('truetype'),
         url('socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

[class^="socicon-"], [class*=" socicon-"] { /* Change to your class name, eg: icon, socicon, social... */
	font-family: 'socicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
